@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap");

.btn-click:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}


.skill-card {
    background-color: #212529;
    opacity: 0.7;
    border-radius: 5px;
    color: lightgrey
}

.skill-card:hover{
    opacity: 1;
    color: white;
    transition: 0.5s;
    transform: translate(10px);
}

.scroll-top {
    position: fixed;
    height: 50px;
    bottom: 10%;
    left: 93%;
    cursor: pointer;
}

.project-description {
    text-align: justify;
}