.light {
    background-color: #FCFCFC;
  }
  
  .dark {
    background-color:  #02111B
  }
  
  .Navbar.light {
    background-color: #5D737E;
  }

  .Projects.light{
    background-color: #C4CED4;
  }

  .Projects.dark{
    background-color: #222A2F;
  }

  .Skills.dark {
    background-color: #222A2F;
  }

  .Skills.light{
    background-color: #C4CED4;
  }

  .Skills .skill-card .dark{
    background-color: white;
  }

  .Contact.dark{
    background-color: #111518;
  }
  
  .light p,
  .light h1,
  .light h3 {
    color: #000000;
  }
  
  .dark p,
  .dark h1,
  .dark h3,
  .dark h2,
  .dark a {
    color: white;
  } 

  .light .navbar-nav .nav-item .nav-link {
    color: white;
  }
  
  .dark .navbar-nav .nav-item .nav-link {
    color: white;
  }
  
  /* Custom CSS */
/* Custom CSS */
.form-check-input {
    position: relative;
    display: flex;
    height: 18px;
    background-color: #667D8F;
  }

  .form-check-input:checked {
    background-color: black;
  }

  .form-check-input:focus {
    outline: 2px solid black;
  }

  .form-check-input {
    outline: none; /* Remove the default outline */
  }

  .background-images {
    position: absolute;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    width: 300px; /* Adjust width as needed */
    height: auto;
  }

  .cloud-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: to align images vertically */
    width: 100%; /* Ensures the container spans the entire width */
  }

  .project-image{
    border-radius: 15px;
  }

  .image-container:hover{
    transform: scale(1.1);
    /* border: solid 2px black; */
  }

  .position-relative {
    position: relative;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in; /* Smooth transition */
  }

  .project-image:hover + .overlay-text {
    opacity: 1;
  }